<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="E:\张尧\idea项目\tl\spring-cloud-more\product-service\src\main\java\com\zy\more\entity" />
            <option value="E:\张尧\idea项目\tl\spring-cloud-more\inventory-api\src\main\java\com\zy\more\entity" />
            <option value="E:\张尧\idea项目\tl\spring-cloud-more\order-api\src\main\java\com\zy\more\entity" />
            <option value="E:\张尧\idea项目\tl\spring-cloud-more\user-api\src\main\java\more\entity" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>